$_card-growth: $__space-xxsmall;

.c-feature {
  @extend %card;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition-duration: 0.15s;
  transition-property: box-shadow, margin, padding;

  &:hover {
    margin: calc($_card-growth * -1);
    padding: $_card-growth;
  }

  .c-page--station & {
    margin-bottom: $__gutter-y;
  }
}

.c-feature__header {
  display: flex;
  flex-direction: column-reverse;
  padding: $__space-xsmall;
  padding-bottom: 0;
}

.c-feature__parent {
  @extend %typeset-prose;

  --font-size-prose: #{$__font-size-text-small};
  font-style: italic;
  color: $__color-neutral-mid;
}

.c-feature__title {
  @extend %typeset-display3;

  --link-decoration: none;

  a {
    &::before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
    }

    &:focus {
      background-color: transparent;

      &::before {
        box-shadow:
          0 0 0 1px $__color-mustard,
          inset 0 0 0 3px color-mod($__color-mustard a(50%));
      }
    }
  }
}

.c-feature__main {
  padding: $__space-xsmall;
  padding-bottom: $__space-small;
  color: $__color-neutral-dark;
}

.c-feature__img {
  display: flex;
  order: -1;
  margin: calc($_card-growth * -1);
  margin-bottom: 0;
  padding-bottom: calc(4 / 7 * 100%);
}
